.category-btn {
  max-width: 50%;
  min-width: 50%;
}

.btn {
  color: black;
}

.line-breaker {
  white-space: pre-wrap;
}

.height4em {
  height: 4em;
  min-width: 4em;
}

.btn-add-icon {
  border-radius: 15%;
  color: #ffe9c7;
  border-color: #607D8B;
  /* color: #033300; */
}

.btn-calendar{
  background-color: #ffffff;
}
