.line-breaker {
  white-space: pre-wrap;
  /* white-space: normal; */
  word-break: break-all;
}

.category-button{
  color: black;
  max-width: 40%;
}

/* MODAL */
.modal-content {
  width: 90%;
  margin: auto;
  background-color: #ffe9c6;
}

.modal-body {
  background-color: #fdf5e6;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
  width: 90%;
  margin: auto;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}
