table {
  width: 100%;
  /* border-collapse: collapse; */
}

table,
th,
td {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

th[sortable].asc:before, th[sortable].desc:before {
  content: '';
  display: block;
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR…lx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC) 0 0/22px no-repeat; */
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

