<div class="card m-2">
  <h6 class="card-header py-1">{{caption}}</h6>
  <div class="card-body p-0">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="date-col" scope="col my-1 py-1 small text-left" sortable="PurchaseDate" (sort)="onSort($event)">Data</th>
          <th scope="col my-1 py-1 small text-left" sortable="Category" (sort)="onSort($event)">Kategoria</th>
          <th class="amount-col" scope="col my-1 py-1 small text-right" sortable="Amount" (sort)="onSort($event)">Kwota</th>
          <th scope="col my-1 py-1 small text-left" sortable="Note" (sort)="onSort($event)">Uwagi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paragonsList.slice().reverse(); index as i" class="">
          <td class=" small my-1 py-1 text-left" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.PurchaseDate | date: 'dd-MMM' }} </td>
          <td class=" small my-1 py-1 text-left" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.Category.Name  }}</td>
          <td class=" small my-1 py-1 text-right" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.Amount | number: '1.2-2' }}zł </td>
          <td class=" small my-1 py-1 text-left" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.Note  }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
