.table thead th {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-size: small;
}

.date-col {
  width: 5.2em;
}

.amount-col {
  width: 6em;
}

table,
th,
td {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

/* MODAL */
.modal {
  width: 90%;
  margin: auto;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
  width: 90%;
  margin: auto;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
