<div class="card m-2">
  <h6 class="card-header py-1">
    <div class="row flex-wrap">
      <span class="flex-fill"> {{caption}} </span>
      <i class="fa fa-refresh " aria-hidden="true" (click)='renewParagonList()'></i>
    </div>
  </h6>
  <div *ngIf="isListLoading" class="p-4">
    <mat-spinner class="spinner m-auto" [diameter]="70" [color]="'warn'"></mat-spinner>
  </div>
  <div *ngIf="!isListLoading" class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="date-col" scope="col my-1 py-1 small text-left" sortable="PurchaseDate" (sort)="onSort($event)">Data</th>
          <th scope="col my-1 py-1 small text-left" sortable="Category" (sort)="onSort($event)">Kategoria</th>
          <th class="amount-col" scope="col my-1 py-1 small text-right" sortable="Amount" (sort)="onSort($event)">Kwota</th>
          <th scope="col my-1 py-1 small text-left" sortable="Note" (sort)="onSort($event)">Uwagi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paragonsList; index as i" class="">
          <td class=" small p-1 text-left date-col" [ngStyle]="{'background-color': item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.PurchaseDate | date: 'dd-MMM' }}</td>
          <td class=" small p-1 text-left category-col" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            <app-category-label [category]="item.Category"></app-category-label>
          </td>
          <td class=" small p-1 text-right amount-col" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.Amount | number: '1.2-2' }}zl </td>
          <td class=" small p-1 text-left note-col" [ngStyle]="{'background-color':item.Category.BackgroundColor}" (click)="editParagon(item)">
            {{ item.Note  }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
