<p>paragon-new works!</p>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="categories[0].Name"> {{categories[0].Name}}
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="categories[1].Name">{{categories[1].Name}}
  </label>
  <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="categories[2].Name">{{categories[2].Name}}
  </label>
</div>
<hr>
<pre>{{model}}</pre>
