<div class="row text-right py-1">

  <div class="col">
    <div ngbDropdown placement="bottom-right" class="d-inline-block">
      <button class="btn btn-primary btn-sm btn-block" id="dropdownBasic1" ngbDropdownToggle>
        Hello {{currentUser.Fullname}}
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem class="btn  btn-sm " (click)="refreshData()">
          <i class="fa fa-refresh" aria-hidden="true"></i> Odswież</button>
        <button ngbDropdownItem class="btn  btn-sm " (click)="logout()">
          <i class="fas fa-sign-out-alt    "></i> Wyloguj</button>
      </div>
    </div>
  </div>

</div>

<!-- CONTENT -->
<div class="customTabSet">
  <ngb-tabset [justify]="'justified'">
    <!-- ================================= Dodaj nowy ================================= -->
    <ngb-tab>
      <ng-template ngbTabTitle>Dodaj</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-body">
          <app-paragon-new></app-paragon-new>
          <app-paragons-list [caption]="'Ostatnio dodane...'" [paragonsList]="recentParagonsList"></app-paragons-list>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- ================================= Podsumowanie ================================= -->
    <ngb-tab>
      <ng-template ngbTabTitle>Podsumowanie</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-body">
          <app-paragons-summary></app-paragons-summary>
        </div>
      </ng-template>
    </ngb-tab>


    <!-- ================================= Ustawienia ================================= -->
    <ngb-tab>
      <ng-template ngbTabTitle>Ustawienia</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-body">
          <app-settings></app-settings>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
