/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 360px;
  margin: auto;
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  font-family: "Comic Sans MS", "comic sans", "Comic Sans", arial, helvetica,
    tahoma, verdana, sans-serif;
  /* src: url("comic-sans-ms/comici.ttf"); */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #f3f3f3;
}
